*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --dark-blue: hsl(230, 33%, 7%);
    --dark-black: hsl(230, 35%, 7%);
    --light-blue: hsl(231, 77%, 90%);
    --light-white: hsl(0, 0%, 100%);

    font-size: 62.5%; /* 1rem = 10px */
}

html{
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Bellefair';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    color: var(--light-white);
}

ul{
    list-style: none;
}

a{
    font-family: 'Barlow Condensed';
    text-decoration: none;
    cursor: pointer;
    color: var(--light-white);
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.27rem;
}

img{
    max-width: 100%;
}

button{
    font-family: 'Bellefair';
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
 
    line-height: 2.3rem;
    letter-spacing: 0.125rem;
    border: none;
}

span{
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.27rem;
}

h1{
    font-size: 8rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 10rem;
}

h5{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.27rem;
    line-height: 1.9rem;
}

p{
    font-family: 'Barlow';
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.5rem;
}

.wrapper{
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.7rem;
}

section{
    padding-block: 10rem;
}

/* ===== Navigation ===== */
nav{
    display: flex;
    height: 9rem;
    top: 0;
    width: 100vw;

    z-index: 1;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
    color: var(--light-blue);
    background: none;
    border: none;
    cursor: pointer;

    font-size: 1.9rem;
}

nav .logo{
    color: var(--light-white);
    font-size: 4rem;
}

nav .menu,
nav.close-menu{
    position: fixed;
}

/* ====== Menu ====== */

body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateX(100%)
}

body.menu-expanded .menu {
    top: 0;
    right: 0;

    width: 65vw;
    height: 100vh;
  
    padding-top: 5rem;
  
    transition: transform 300ms;
    transform: translateY(0);

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
}

body.menu-expanded button {
    position: relative;
    z-index: 100;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    margin-inline: 3rem;

    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
}

.menu ul button{
    left: 25.6rem; 
    top: -1.8rem;   
}

.menu ul li a{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-style: normal;
    color: var(--light-white);
}

.menu ul li a:hover{
    color: var(--light-blue);
}

.menu ul li span{
    margin-right: 1.5rem;
}

/* ===== Home ===== */
#home{
    padding-block: 0;
}

#home::before{
    content: '';
    background-size: cover; 

    height: 100vh;
    width: 100%;
    display: block;
  
    position: absolute;
    top: 0;
    z-index: -1;
}

.home-bg::before{
    background: #ffffff url("/starwars-landingpage/assets/img/background/background-home-mobile.png") no-repeat center;
}

.destination-bg::before{
    background: #ffffff url("/starwars-landingpage/assets/img/background/background-destination-mobile.jpg") no-repeat center;
}

.character-bg::before{
    background: #ffffff url("/starwars-landingpage/assets/img/background/background-characters-mobile.jpg") no-repeat center;
}

.ships-bg::before{
    background: #ffffff url("/starwars-landingpage/assets/img/background/background-ship-mobile.jpg") no-repeat center;
}

#home .wrapper{
    margin-top: 1rem;
}

#home header{
    margin-bottom: 8rem;
}

#home header h1{
    margin-block: 1.6rem;
    margin-inline: auto;
}

#home header p{
    width: 90%;
}

#home header h5,
#home header p{
    color: var(--light-blue);
    margin-inline: auto;
}

#home button{
    padding: 6rem 2.5rem;
    margin-block: auto;
    border-radius: 10rem;    
    z-index: -1;
}

#home button:hover{
    background-color: #ffffffb2;
}

#home .destination-edit,
#home .character-edit,
#home .ships-edit{
    margin-bottom: 0;
}

#home .destination-edit h5,
#home .character-edit h5,
#home .ships-edit h5{
    color: var(--light-white);
    font-size: 1.7rem;
}

#home .destination-edit img,
#home .character-edit img,
#home .ships-edit img{
    width: 16rem;
    margin-block: 3rem;
}

#home #character-img{
    width: 21rem;
    border-bottom: 1px solid #ffffff27;
}

#home #sub-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-inline: auto;
}

#home #sub-menu a{
    font-family: 'Barlow Condensed';
    color: var(--light-blue);
    text-transform: uppercase;
    letter-spacing: 0.23rem;
    font-size: 1.4rem;
}

#home #sub-menu a:hover{
    border-bottom: 3px solid var(--light-white);
    padding-bottom: 1rem;
}

#home .content h1{
    font-size: 6rem;
    margin: 1rem 0 0.5rem 0;
}

#home .content p{
    color: var(--light-blue);
    font-size: 1.5rem;
}













